composer.phar
/vendor/
.DS_Store
app/node_modules
app/package-lock.json
composer.lock
app/lila/debug.sqlite
app/lila/lila.sqlite
app/lila/logs
app/lila/*.sqlite
app/lila/build_manifest.php
app/lila/env_cache.php
app/lila/schema_cache.php
app/lila/model_cache.php
assets/build
assets/cache 
public/build 
/app/docs