<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^(_core|app|docker|vendor|node_modules|cli\.php|composer\.json|\.env|\.gitignore|README\.md|LICENSE|composer\.lock) - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} ^/(.+)/$
    RewriteRule ^ /%1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.*)$ public/$1 [L]

    RewriteRule ^ index.php [QSA,L]
</IfModule>
