TITLE_PROJECT="LILA PHP Framework"
DEBUG=false
VERSION_PROJECT="0.1"
VERSION_API="1"
PATH_LOGS="logs/" 
PATH_LOCALES="locales/"
SECRET_KEY="mysecretkey"
URL_PROJECT="http://localhost:8000/"
LANG="eng"