composer.phar
/vendor/
.DS_Store
lilaPHPnode_modules
lilaPHPpackage-lock.json
composer.lock
lilaPHPlila/debug.sqlite
lilaPHPlila/lila.sqlite
lilaPHPlila/logs
lilaPHPlila/*.sqlite
lilaPHPlila/build_manifest.php
lilaPHPlila/env_cache.php
lilaPHPlila/schema_cache.php
lilaPHPlila/model_cache.php
lilaPHPlila/cache/
assets/build
assets/cache 
public/build 
/lilaPHPdocs
lilaPHPlila/route_di_cache.php
assets/js/spa.min.js
lilaPHPlila/route_attribute_cache.php
